table.visionTest {
  margin: auto;
  width: 100%;
}

div.visionTest {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

td {
  text-align:center;
}

body {
  background-color: white !important;
}

html {
  cursor: none;
}

img {
  margin-left: 10px;
  margin-right: 10px;
  image-rendering: -webkit-optimize-contrast;
}

.mirrored {
  -webkit-transform: translate(-50%, -50%) scaleX(-1) !important;
  transform: translate(-50%, -50%) scaleX(-1) !important;
}
